@use './utils/colors.scss';

.execute-wrapper {
  background-color: colors.$snow;
  color: colors.$jet;
  padding: 0;
  display: flex;
  height: 100vh;

  .row {
    margin: 4px 10px;

    .code-button {
      margin-left: 0.75rem;
    }
  }

  h6 {
    margin: 0px;
  }

  .side-label {
    margin: auto 5px auto 0px;
  }

  .code-wrapper {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    vertical-align: middle;
  }

  .dropdown button {
    margin: 5px;
    margin-left: 0px;
    min-width: 5em;
  }

  .procedure-code {
    white-space: break-spaces;
  }

  .disconnect-btn {
    margin: 5px;
    width: auto;
    justify-content: center;
  }

  .content-area {
    width: calc(100vw - 300px);
    background-color: colors.$snow;
    overflow-y: scroll;
  }

  .tab-content {
    padding-top: 10px;
  }

  .count-label {
    font-size: 0.8em;
    margin: 0 0 0 auto;
  }

  .rule-container {
    color: colors.$jet;
    padding: 10px 0px;
    margin: 10px 0px;
    border: 1px solid colors.$jet;
    flex-grow: 1;
  }

  .edit-icons {
    margin: 0 0 0 auto !important;
  }

  .execute-btn {
    margin: 5px;
    width: auto;
    justify-content: center;
  }
}

.form-modal {
  font-size: 0.9em;

  .form-label {
    margin-bottom: 5px;
  }

  .form-group {
    margin-bottom: 5px;
  }

  .form-select {
    font-size: 0.9em;
    padding: 0.1rem 0.5rem;
  }

  .form-control {
    font-size: 0.9em;
    padding: 0.1rem 0.5rem;
  }

  option {
    font-size: 0.9em;
  }
}

.parameter-box {
  h4 {
    margin-bottom: 10px;
  }
  span {
    font-size: 0.8em;
    padding: 0px 5px;
  }

  .form-control {
    font-size: 0.8em;
    padding: 0.1rem 0.375rem;
  }
}
